// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Ui Elements @mixin
@import 'mixins/generalMixins';

//Font Awesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*********************************
Global UI
********************************/

.pointerGlobal {
    cursor: pointer;
}

.buttonGlobal {
  width:40%;
  @include button();
}

.tileFontSize {
    font-size: 150px;
}

.removeTileMarginBottom {
    margin-bottom: -45px;
}

/*********************************
End Global UI
********************************/
