<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            Game
                        </div>
                        <div class='pointerGlobal' @click='Force_Start_Game()'>
                            <i class="far fa-play-circle"></i> Force start
                        </div>
                    </div>

                    <div class="card-body">
                        Game images etc..
                    </div>
                    <!-- <input type="submit" class="buttonGlobal btn btn-primary" value='Submit' /> -->
                    <div class='container row text-right'>
                        <div class='col-12 removeTileMarginBottom'>
                            <span class='tileFontSize pointerGlobal' @click='Draw_A_Tile()' title="Click to draw a tile.">&#127074</span>
                        </div>
                        <div class='col-12 mb-3'>
                            Tiles left to draw from: {{tilesLeftToDrawFrom}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axiosGetMixin from '../../mixins/axiosGetMixin.js';
    import sleepMixin from '../../mixins/sleepMixin.js';

    export default {
        name: 'Game',
        components: {  },
        mixins: [axiosGetMixin, sleepMixin],
        props: ['game_id'],
        data() {
            return {
                errors: [],
                definitions: [],
                params: {},
                gameTileTracker: [],
                tilesLeftToDrawFrom: 0,
            }
        },
        mounted() {
            this.Fetch_How_Many_Tiles_Left();
            // this.Onload_Fetch_Available_Games();
        },
        methods: {
            Fetch_How_Many_Tiles_Left() {
                this.errors                     = [];
                this.params['url']              = '/api/fetch-game-dominoes-tracker/'+this.game_id;
                this.axiosGetNormal(this.params, this.gameTileTracker, this.definitions);
            },
            TileBoneYard() {
                this.tilesLeftToDrawFrom = this.gameTileTracker.length;
            },
            Draw_A_Tile() {
                    alert('Game has not started yet');
            },
            Onload_Fetch_Available_Games() {
                // this.errors                     = [];
                // this.params['url']              = '/api/fetch-hosted-games-list';
                // this.axiosGetNormal(this.params, this.gamesAvailable, this.definitions);
                // this.sleep(10000).then(() => {
                //     this.gamesAvailable = [];
                //     this.Onload_Fetch_Available_Games();
                // });
            },
            Force_Start_Game() {
                alert('force start game');
            }
        }
    }
</script>
