@mixin button(){
    margin-top: 7.5px;
    padding: 5px 0px;
    border-radius: 5px;
    // background: $blue;
    // color: $white;
    text-transform: uppercase !important;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.35) !important;
    font-family: 'Montserrat', sans-serif !important;
    &:focus{
      border: none;
      outline: none;
    }
    &:hover{
      transition: all 1s;
      background: $cyan;
      box-shadow: none;
      cursor: pointer;
    }
}
