<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            Available Games
                        </div>
                        <div class='pointerGlobal' v-b-modal.modal-host-a-game>
                            <i class="fas fa-plus-square"></i> Host a game
                        </div>
                    </div>

                    <div class="card-body">
                        <div class='row font-weight-bold'>
                            <div class='col-3'>
                                Game ID
                            </div>
                            <div class='col-3'>
                                Game Host
                            </div>
                            <div class='col-3'>
                                Number Of Players
                            </div>
                            <div class='col-3'>
                                Joinable
                            </div>
                        </div>
                        <hr />
                        <!-- :class='bg-light' -->
                        <div class='row pointerGlobal' v-bind:class="[(itemObjKey % 2 == 0)?bgColorClass:'']" v-for="(game, itemObjKey) in gamesAvailable" v-if='gamesAvailable.length > 0' @click='Join_Game(game.id)'>
                            <div class='col-3'>
                                {{game.id}}
                            </div>
                            <div class='col-3'>
                                {{game.users_name.name}}
                            </div>
                            <div class='col-3'>
                                {{game.number_of_players}}
                            </div>
                            <div class='col-3'>
                                {{(game.joinable)?'Yes':(game.game_open_or_closed)?'In progress':'Closed'}}
                            </div>
                        </div>
                        <div class='row font-weight-bold mt-3' v-if='gamesAvailable.length < 1'>
                            <div class='col-12 text-center'>
                                No games found.
                            </div>
                        </div>
                    </div>
                    <!-- <input type="submit" class="buttonGlobal btn btn-primary" value='Submit' /> -->
                </div>
                <b-modal id="modal-host-a-game" hide-footer no-fade centered :modal-class="'animated bounceIn faster'" title="Host a game">
                    <h6>How many players do you want in the game (between 2 and 4)?</h6>
                    <input class="form-control mt-2 w-100" type="number" id="numberOfPlayers" name="numberOfPlayers" v-model="formVariables['numberOfPlayers']" autocomplete="off" min="2" max="4" :class="errors['numberOfPlayers']?'invalid':''">
                    <p v-if="errors['numberOfPlayers']"><small><span class="text-danger" v-text="errors['numberOfPlayers'][0]"></span></small></p>
                    <div class="d-flex justify-content-end mt-2">
                        <b-button size="sm" variant="success" @click='Host_A_Game()'>Host</b-button>
                        <b-button class="ml-1" size="sm" variant="" @click="Clear_Modal()">Cancel</b-button>
                    </div>
                </b-modal>
            </div>
        </div>
    </div>
</template>

<script>
    import axiosGetMixin from '../../mixins/axiosGetMixin.js';
    import axiosPostMixin from '../../mixins/axiosPostMixin.js';
    import sleepMixin from '../../mixins/sleepMixin.js';

    export default {
        name: 'Dashboard',
        components: {  },
        mixins: [axiosGetMixin, axiosPostMixin, sleepMixin],
        props: [],
        data() {
            return {
                bgColorClass: 'bg-light',
                errors: [],
                definitions: [],
                params: {},
                gamesAvailable: [],
                formVariables: {
                    'numberOfPlayers': 2,
                  },
            }
        },
        mounted() {
            this.Onload_Fetch_Available_Games();
        },
        methods: {
            Clear_Modal() {
                this.$bvModal.hide('modal-host-a-game');
                this.numberOfPlayers = 0;
            },
            Onload_Fetch_Available_Games() {
                this.errors                     = [];
                this.params['url']              = '/api/fetch-hosted-games-list';
                this.axiosGetNormal(this.params, this.gamesAvailable, this.definitions);
                this.sleep(10000).then(() => {
                    this.gamesAvailable = []; // This should be replaced in axios mixin file instead clear to give better flow on site. Eg wont get blank list for second. Or maybe use push on array. Would have to test to get better result
                    this.Onload_Fetch_Available_Games();
                });
            },
            Host_A_Game() {
                this.errors                         = [];
                this.params['url']                  = '/api/fetch-hosted-games-list';
                this.params['numberOfPlayers']      = this.numberOfPlayers;
                this.axiosPostNormal(this.params, this.formVariables);
            },
            Join_Game(game_id) {
                alert(game_id);
                alert('Need to still build game');
                // this.errors                         = [];
                // this.params['url']                  = '/api/link-user-to-a-game'+game_id;
                // this.axiosPostNormal(this.params, this.formVariables);
            },
            onSuccessRedirect(data)
            {
              if(data.data.id != undefined && data.data.id > 0)
              {
                  location.href = '/game/'+data.data.id;
              }
            },
        }
    }
</script>
